@import './utilities.css';
:root{
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
}

body{
    font-family: 'Inconsolata', monospace;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: var(--dark);
}

.home{  
    background: var(--dark);  
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
}


.container{
    max-width: 1152px;
    padding: 0px 15px;
    margin: 0px auto;
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.hero .left img{
    width: 350px;
    height: 608px;
}

.hero .right{
    color: var(--pure);
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;

}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.about-me-img{
    height: 458px;
}

.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.about h1 span{
    color: var(--primary);
}

.about h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.about p{
    color: var(--ternary);
}

.social{
    display: flex;
}

.social a{
    text-decoration: none;
    margin: 0.6rem;
    padding: 0.6rem;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.7s ease;
}

.social a:hover{
    background: var(--primary);
    border-radius: 50%;
}