<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Imrul Afnan</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="contact">
        <div class="container">

            <nav class="flex item-center justify-between">
                <div class="left">
                    <div class="branding flex item-center">
                        <a href="./home.html"><img src="../img/logo.svg" alt="logo"></a>
                        <div>
                            <a href="./home.html">Home</a>
                            <a href="./about.html">About</a>
                            <a href="./education.html">Education</a>
                            <a href="">Page</a>
                            <a href="">Block</a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button onclick="window.location.href='./contact.html'" class="btn btn-primary">Contact</button>
                </div>
            </nav>

            <div class="contactbody">
                <div class="contactcard">
                    <div class="show">
                        <h1>Contact Info</h1>
                        <div class="phone">
                            <img src="../img/phone.png" alt="" height="30px" width="30px"> +8801677756337
                        </div>

                        <div class="email">
                            <a href="mailto:imrul.afnan18@gmail.com"><img src="../img/email.png" alt="" height="30px"
                                    width="30px"> imrul.afnan18@gmail.com</a>
                        </div>
                    </div>

                    <div class="feedback">
                        <h1>Name:</h1>
                        <input type="text" name="" id="">
                        <h1>Email:</h1>
                        <input type="text">
                        <h1>Message:</h1>
                        <input type="text" class="message">
                        <h1></h1>

                        <button class="sendfeedback" onclick="window.location.href = './home.html'">Send</button>
                    </div>
                </div>

            </div>



        </div>
    </header>


</body>

</html>