<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Imrul Afnan</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="education">
        <div class="container">

            <nav class="flex item-center justify-between">
                <div class="left">
                    <div class="branding flex item-center">
                        <a href="./home.html"><img src="../img/logo.svg" alt="logo"></a>
                        <div>
                            <a href="./home.html">Home</a>
                            <a href="./about.html">About</a>
                            <a style="color: #3DCFD3" href="./education.html">Education</a>
                            <a href="">Page</a>
                            <a href="">Block</a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button onclick="window.location.href='./contact.html'" class="btn btn-primary">Contact</button>
                </div>
            </nav>

            <div class="educationbody">

                <div class="bsc">
                    <div class="circle">
                        <h1>BSC</h1>
                        <h3>2018-2021</h3>
                    </div>

                    <div class="bscdetails">
                        Result: 3.85/4.00 <br>
                        Program: BSc in Computer Science & Engineering<br>
                        Institute: <a href="https://www.aiub.edu/" target="_new"><span>AIUB</span> </a><br>
                        Relevant Language: C, C++, Java, C#, Oracle, PL/SQL, PHP, HTML, CSS, <br>
                        JavaScript, JSON, AJAX, MySQL, OpenGL, MATLAB, Python and so on.


                    </div>
                </div>

                <div class="hsc">
                    <div class="circle">
                        <h1>HSC</h1>
                        <h3>2016-2017</h3>
                    </div>
                    <div class="hscdetails">
                        Result: GPA-5 <br>
                        Group: Science <br>
                        Institute: <a href="https://www.dhakacitycollege.edu.bd" target="_new"><span>Dhaka City
                                College</span>
                        </a><br>
                        Address: Dhaka, Bangladesh
                    </div>
                </div>

                <div class="ssc">
                    <div class="circle">
                        <h1>SSC</h1>
                        <h3>2014-2015</h3>
                    </div>
                    <div class="sscdetails">
                        Result: GPA-5 <br>
                        Group: Science <br>
                        Institute: <a href="https://www.sohopathi.com/ashraf-nagar-secondary-school/"
                            target="_new"><span> Ashraf-Nagar
                                High school</span></a><br>
                        Address: Barishal, Bangladesh
                    </div>
                </div>

            </div>

        </div>
    </header>
</body>

</html>