<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Imrul Afnan</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="home">
        <div class="container">

            <nav class="flex item-center justify-between">
                <div class="left">
                    <div class="branding flex item-center">
                        <img src="../img/logo.svg" alt="logo">
                        <div>
                            <a style="color: #3DCFD3" href="./home.html">Home</a>
                            <a href="./about.html">About</a>
                            <a href="">Service</a>
                            <a href="">Page</a>
                            <a href="">Block</a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button class="btn btn-primary">Contact</button>
                </div>
            </nav>

            <div class="hero flex item-center justify-between">
                <div class="left flex-1 flex justify-center">
                    <img src="../img/man.png" alt="Imrul Afnan">
                </div>
                <div class="right flex-1">
                    <h6>Imrul Afnan</h6>
                    <h1>I'm a Software <span>Engineer</span></h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem amet maiores numquam. Quidem
                        neque dolor, </p>
                    <div>
                        <button class="btn btn-secondary"> Download CV </button>
                    </div>
                </div>
            </div>

        </div>
    </header>
</body>

</html>